@import '../../assets/colors.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $bg-color-s;
  border: 1px solid $c-primary;

  .button {
    font-size: 2rem;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background-color: $c-secondary;
    color: $bg-color;
  }

  .errorMsg {
    background-color: $c-error;
    padding: 0.1rem;
    border-radius: 0.5rem;
    text-align: center;
  }
}

.container {
  padding: 1rem;
  border-radius: 1rem;
  background-color: $bg-color-s;
  margin: 1rem;
  text-align: center;

  a {
    color: $c-secondary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}